@model RestaurantManagementSystem.Areas.Customer.ViewModels.CustomerAccount

@{
    Layout = null;
    ViewData["Title"] = "CreateAccount";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Resturant Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/CreateAccountStyleSheet.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="container">
        <form class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-4 col-xl-8 offset-xl-5" asp-area="" asp-controller="Account" asp-action="CreateAccount" method="post">
            <h2>Create Your Account</h2>
            <hr />
            <div class="form-row">
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-xl-1">
                    <label>Enter Your Name</label>
                    <input placeholder="Name" class="form-control" asp-for="CustomersName" />
                    <span asp-validation-for="CustomersName" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <label>Enter E-mail Address</label>
                    <input placeholder="E-mail" class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-xl-1">
                    <label>Enter Contact Number</label>
                    <input asp-for="MobileNumber"  placeholder="Contact Number" type="number" class="form-control" />
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>

                </div>
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <label>Give a Password</label>
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" id="myInput">
                        <span class="input-group-btn">
                            <button class="btn" onclick="myFunction()" type="button">
                                <i class="fa fa-eye"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 offset-xl-1">
                    <a class="btn btn-dark" style="float:right" asp-area="" asp-controller="Account" asp-action="Login">
                Sign In
            </a>
            <button class="btn btn-dark" style="float:right;margin-right:15px">Sign Up</button>
       
                </div>
            </div>
        </form>
    </div>

    <environment include="Development">
        <script src="~/Assets/AJAX/ajaxjQueryjquery1.11.3.min.js"></script>
        <script src="~/Assets/AJAX/ajaxjqueryvalidate1.14.0jquery.validate.min.js"></script>
        <script src="~/Assets/AJAX/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
       
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
    </environment>
      
</body>
</html>