
@{
    ViewData["Title"] = "FoodRecipeDetails";
}
<style>
    #cols {
        background-color: ghostwhite;
        border-radius: 8px;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 5px 6px 0 rgba(0,0,0,0.4);
    }

        #cols h1 {
            text-align: center;
            padding: 2%;
        }

    table {
        text-align: center;
    }
</style>
<div class="row mt-3">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"id="cols">
        <h1>Food Recipe Details</h1>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Food Item</th>
                    <th>Ingredients</th>
                    <th>Quantity (gm)</th>
                    <th>Price (BDT)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Pizza</td>
                    <td>
                        <table class="d-flex justify-content-center">
                            <tr>
                                <td>Tomato</td>
                            </tr>
                            <tr>
                                <td>Potato</td>
                            </tr>
                            <tr>
                                <td>Flour</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="d-flex justify-content-center">
                            <tr>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>500</td>
                            </tr>
                        </table>
                    </td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Burger</td>
                    <td>
                        <table class="d-flex justify-content-center">
                            <tr>
                                <td>Tomato</td>
                            </tr>
                            <tr>
                                <td>Potato</td>
                            </tr>
                            <tr>
                                <td>Flour</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="d-flex justify-content-center">
                            <tr>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>200</td>
                            </tr>
                            <tr>
                                <td>500</td>
                            </tr>
                        </table>
                    </td>
                    <td>1000</td>
                </tr>
            </tbody>
        </table>
    </div>
   
    @*<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4"id="holder">
        <div id="front">
            <i class="fas fa-red-river"style="color:blue;font-size:30px;"></i>
            <span>Burger</span>
        </div>
        <div id="back">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity (gm)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tomato</td>
                        <td>25</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@
</div>
