@model List<RestaurantManagementSystem.Areas.Admin.ViewModels.MealHourVm>
@{
    ViewData["Title"] = "MealHourInfo";
}
<style>
    #cols {
        background-color: ghostwhite;
        border-radius: 8px;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 5px 6px 0 rgba(0,0,0,0.4);
    }

        #cols h1 {
            text-align: center;
            padding: 4%;
        }

    table {
        text-align: center;
    }
</style>

<div class="row mt-5">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-10 col-xl-10 offset-xl-1" id="cols">
        <h1>Meal Hour Info</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Meal Hour Title</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Serial</td>
                        <td>@item.MealHourTitle</td>
                        <td>
                            <a asp-action="UpdateMealHour" asp-controller="Home" asp-area="Admin"
                               asp-route-id="@item.MealHourId">
                                <i class="fas fa-pencil-alt"
                                   style="color:forestgreen"></i>
                            </a> &nbsp;&nbsp;&nbsp;
                            <a onclick="MyDeleteConfirm()"  asp-action="DeleteMealHour"  asp-controller="Home" asp-area="Admin" asp-route-id="@item.MealHourId"><i  class="fas fa-trash" style="color:red"></i></a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>
 


   @section Scripts{
   
    <script type="text/javascript">
      
        function MyDeleteConfirm() {
            event.preventDefault();
            var anchor = event.target.closest("a");     // Find closest Anchor (or self)
             console.log( anchor.getAttribute('href'));
             Swal.fire({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!',
                  
            }).then((result) => {
                if (result.value) {
                   window.location.href = anchor.getAttribute('href');
                    //Swal.fire(
                    //  'Deleted!',
                    //  'Your file has been deleted.',
                    //  'success'
                    //  )                                      
              }
              })           
        }
    </script>
}