@model RestaurantManagementSystem.Areas.Admin.ViewModels.TableVm
@{
    ViewData["Title"] = "UpdateTableInfo";
}
<style>
    #formdiv {
        background-color: ghostwhite;
        border-radius: 8px;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2),0 5px 6px 0 rgba(0,0,0,0.4);
        padding: 4%;
    }

        #formdiv h1 {
            text-align: center;
            padding: 4%;
        }

        #formdiv button {
            float: right;
        }

        #formdiv textarea {
            height: 15vh;
        }
</style>
<form class="row mt-5" asp-area="Admin" asp-controller="Home"
      asp-action="UpdateTableInfo" method="post">
    <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8" id="formdiv">
        <h1>Update Table Info</h1>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group">
                    <label>Set the Table Name/No.</label>
                    <input class="form-control" placeholder="Table No." asp-for="TableNumber" />
                    <input type="hidden" asp-for="TableId" />
                    <span asp-validation-for="TableNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group">
                    <label>Set Capacity</label>
                    <input class="form-control" placeholder="Capacity" asp-for="TableCapacity" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group">
                    <label>Set Booking Price</label>
                    <input class="form-control" placeholder="Booking Price" asp-for="BookingPrice" />
                </div>
            </div>
        </div>
        <button class="btn btn-dark">Update</button>
    </div>
</form>

